<!-- colection -->
<section id="engo-1" class="engo-box">
  <div class="colection-v4 clearfix margin-bottom-30">
    <div class="colection-item colection-1">
      <%= image_pack_tag "banner-img6-3.png" %>
      <div class="colection-info">
        <div class="all-info">
          <div class="info1">New</div>
          <div class="info2 big">LOO</div>
          <div class="info3">
            <p>Update your everyday essentials <br> qqqqqqq	</p> 
          </div>
          <div class="info4 big">
            2020
          </div>
          <div class="shopnow">
            <a class="button" href="#">
              <span> now</span>
            </a>
          </div>
          <div class="line">
            <div class="line1"></div>
            <div class="line2"></div>
          </div>
        </div>							
      </div>

    </div>
    <div class="colection-item colection-1">
      <%= image_pack_tag "banner-img6-3.png" %>
      <div class="colection-info">
        <div class="all-info">
          <div class="info1">New </div>
          <div class="info2 big">LOOKBOOK</div>
          <div class="info3">
            <p>Update your everyday<br> with 	</p> 
          </div>
          <div class="info4 big">
            2020
          </div>
          <div class="shopnow">
            <a class="button" href="#">
              <span> now</span>
            </a>
          </div>
          <div class="line">
            <div class="line1"></div>
            <div class="line2"></div>
          </div>
        </div>							
      </div>
    </div>
    <div class="colection-item colection-1">
            <%= image_pack_tag "banner-img6-3.png" %>
      <div class="colection-info">
        <div class="all-info">
          <div class="info1">New </div>
          <div class="info2 big">LOOK</div>
          <div class="info3">
            <p>Update your everyday essentials <br> with	</p> 
          </div>
          <div class="info4 big">
            2021
          </div>
          <div class="shopnow">
            <a class="button" href="#">
              <span> now</span>
            </a>
          </div>
          <div class="line">
            <div class="line1"></div>
            <div class="line2"></div>
          </div>
        </div>							
      </div>
    </div>
  </div>
</section>
<!-- end colection -->