<!-- Colection -->
<section id="engo-3" class="engo-box">
    <div class="colection-v2">
      <div class="container">
          <div class="row row1 row-gutter-10">
            <div class="col-sm-8 ">
                <div class="img-eff1 wow slideInLeft" data-wow-delay="0s">
                  <div class="ov1"></div>
                  <div class="ov2"></div>
                  <div class="ov3"></div>
                  <div class="ov4"></div>
                  <a><%= image_pack_tag "home-banner-img1.png" %></a>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="img-eff1 wow slideInRight" data-wow-delay="0s">
                  <div class="ov1"></div>
                  <div class="ov2"></div>
                  <div class="ov3"></div>
                  <div class="ov4"></div>
                  <a href="#"><%= image_pack_tag "home-banner-img2.png" %></a>
                </div>
            </div>
          </div>
          <div class="row row2 row-gutter-10">
            <div class="col-sm-4  ">
                <div class="img-eff1 wow slideInLeft" data-wow-delay="0s">
                  <div class="ov1"></div>
                  <div class="ov2"></div>
                  <div class="ov3"></div>
                  <div class="ov4"></div>
                  <a href="#"><%= image_pack_tag "home-banner-img3.png" %></a>
                </div>
            </div>
            <div class="col-sm-8 ">
                <div class="img-eff1 wow slideInRight" data-wow-delay="0s">
                  <div class="ov1"></div>
                  <div class="ov2"></div>
                  <div class="ov3"></div>
                  <div class="ov4"></div>
                  <a href="#"><%= image_pack_tag "home-banner-img4.png" %></a>
                </div>
            </div>
          </div>
      </div>
    </div>
</section>
<!-- End colection -->
