<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<div class="main-slider margin-bottom-30">
  <div class="fullwidthbanner-container">
      <img class="mySlides w3-animate-fading" src="https://res.cloudinary.com/dtbumlftx/image/upload/v1587826286/T%C3%BAM/94881220_223623185632332_6713885661562142720_n_kfhxi4.jpg" style="width:100%">
      <img class="mySlides w3-animate-fading" src="https://res.cloudinary.com/dtbumlftx/image/upload/v1587826286/T%C3%BAM/94881220_223623185632332_6713885661562142720_n_kfhxi4.jpg" style="width:100%">
      <img class="mySlides w3-animate-fading" src="https://res.cloudinary.com/dtbumlftx/image/upload/v1587826286/T%C3%BAM/94881220_223623185632332_6713885661562142720_n_kfhxi4.jpg" style="width:100%">
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <!-- <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div> -->
        <!-- <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div> -->
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      </div>
    </div>
</div>
<script>

var myIndex = 1;
showDivs(myIndex);
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  currentDiv(myIndex)
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 9000); // Change image every 2 seconds
}

colsose(myIndex)
function plusDivs(n) {
  showDivs(myIndex += n);
}

function currentDiv(n) {
  showDivs(myIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {myIndex = 1}
  if (n < 1) {myIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[myIndex-1].style.display = "block";  
  dots[myIndex-1].className += " w3-white";
}

</script>

