<!-- collection -->
<section id="engo-2" class="engo-box">
    <div class="collection-v3 margin-top-0 margin-bottom-60">
      <div class="container">
          <div class="row">
            <div class="col-sm-7 wow slideInLeft" data-wow-delay="0s">
                <div class="collection-info">
                  <label >New collection</label>
                  <h3 class="title">porttitor</h3>
                  <div class="des">
                      Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium
                  </div>
                  <button class="button collection-button">
                  <span> now</span>
                  </button>
                </div>
                <div class="collection-img img-eff1">
                  <div class="ov1"></div>
                  <div class="ov2"></div>
                  <div class="ov3"></div>
                  <div class="ov4"></div>
                  <!-- <%= image_pack_tag "colection1.png" %> -->
                  <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1577260225/upload%20image/Smile_-_Avril_Lavigne.m4a_rfgpgt.jpg">
                </div>
            </div>
            <div class="col-sm-5 collection-right wow slideInRight" data-wow-delay="0s">
                <div class="collection-img img-eff1">
                  <div class="ov1"></div>
                  <div class="ov2"></div>
                  <div class="ov3"></div>
                  <div class="ov4"></div>
                  <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1577260225/upload%20image/Smile_-_Avril_Lavigne.m4a_rfgpgt.jpg">
                  <!-- <%= image_pack_tag "colection2.png" %> -->
                </div>
                <div class="collection-info">
                  <label >New </label>
                  <h3 class="title">porttitor</h3>
                  <div class="des">
                      Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium
                  </div>
                  <button class="button collection-button">
                  <span> now</span>
                  </button>
                </div>
            </div>
          </div>
      </div>
    </div>
</section>
<!-- end collection  -->