<!-- slider -->
<section id="engo-1" class="engo-box">
  <div class="main-slider margin-bottom-30">
    <div class="fullwidthbanner-container">
      <div class="r_slider" data-width="1920" data-height="630" data-screen="off" data-fullwidth="on">
        <ul>
          <li class="f_left" data-transition="cube" data-slotamount="7">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588439481/banner-img3_f3d1yc.png" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
            <div class="caption lft ltt" data-x="center" data-y="205" data-speed="1500" data-start="1200" data-easing="easeOutBounce">
              <p>
<!--                <img src="images/assets/text-slider.png" alt="">-->
              </p>
            </div>
            <div class="caption lft ltt" data-x="center" data-y="250" data-speed="1500" data-start="1600" data-easing="easeOutBounce" style="font-size: 116px; font-style: italic">
              <p><span class="slider-top big-text big5">PHUN</span></p>
            </div>
            <div class="caption lft ltt" data-x="center" data-y="370" data-speed="1500" data-start="2000" data-easing="easeOutBounce" style="font-size: 18px; font-stye: italic">
              <p class="small-text2">
                vi chạm<br>thẩm mĩ
              </p>
            </div>
            <div class="caption lft ltt" data-x="680" data-y="255" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size: 50px; font-style:italic;">
              <p><span class="slider-top small12">ZZZZZZZ</span></p>
            </div>
          </li>
          <li class="f_left" data-transition="cube" data-slotamount="7">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588439481/banner-img3_f3d1yc.png" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
            <div class="caption lft ltt" data-x="550" data-y="140" data-speed="1500" data-start="1200" data-easing="easeOutBounce " style="font-size: 84px;">
              <p><span class="slider-top big-text big1"></span></p>
            </div>
            <div class="caption lft ltt" data-x="630" data-y="210" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size: 84px;">
              <p><span class="slider-top big-text big11">Khắc sợi</span></p>
            </div>
            <div class="caption lft ltt" data-x="490" data-y="280" data-speed="1500" data-start="1600" data-easing="easeOutBounce" style="font-size: 110px">
              <p><span class="slider-top big-text big2" >Thẩm mĩ</span></p>
            </div>
            <div class="caption lft ltt" data-x="400" data-y="225" data-speed="1500" data-start="2000" data-easing="easeOutBounce" style="font-size: 18px; line-height: 20px;">
              <p class="small-text">
                làm đẹp<br>chạm<br>FOR WOMEN
              </p>
            </div>
            <div class="caption lft ltt" data-x="870" data-y="180" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size: 50px;font-style: italic">
              <p><span class="slider-top small1">XXXXXXX</span></p>
            </div>
            <div class="caption lft ltt" data-x="450" data-y="315" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size: 50px; font-style: italic">
              <p><span class="slider-top  small1">AAAAAAAA</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end slider -->
<%= javascript_include_tag "plugin/plugin.js" %>
<%= javascript_include_tag "revolution.js" %>