<header class="header-v8">
  <!-- topbar -->
  <div class="topbar">
    <div class="container-full-screen">
      <div class="row">
        <div class="col-sm-6 col-70">
          <!--  -->
          <div class=" hidden-lg hidden-md  engo-mainmenu offcanvas-fixed">
            <div class="btn-toggle-menu  btn-nav" data-toggle="offcanvas">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
            </div>
          </div>
          <!--  -->
          <div class="header-info">
									<span>
										Call Us : 0975-748-525
									</span>
          </div>
        </div>
        <!-- right topbar -->
        <div class="col-sm-6 col-30 ">
          <div class="right-topbar">
            <!-- .shop-cart -->
            <div class="settings">
              <div class="btn-settings dropdown">
                <img src="images/settings1.png" alt="">
              </div>
              <!-- ul.toplinks -->
              <div class="toplinks dropdown-content">
                <div class="set lang clearfix">
                  <span class="title">Select Language</span>
                  <div class="langs clearfix">
                    <a href="#" class="active"><img src="images/assets/lang1.png" alt=""></a>
                    <a href="#"><img src="images/assets/lang2.png" alt=""></a>
                    <a href="#"><img src="images/assets/lang3.png" alt=""></a>
                    <a href="#"><img src="images/assets/lang4.png" alt=""></a>
                  </div>
                </div>
                <div class="set currency clearfix">
                  <span class="title">Select Currency</span>
                  <div class="curs">
                    <a href="#" class="active"><i class="fa fa-dollar"></i></a>
                    <a href="#"><i class="fa fa-eur"></i></a>
                    <a href="#"><i class="fa fa-yen"></i></a>
                  </div>
                </div>
                <div class="set links">
                  <div>
                    <i class="fa fa-unlock-alt"></i>
                    <span>Login / Register</span>
                  </div>
                  <div>
                    <i class="fa fa-user"></i>
                    <span>My Account</span>
                  </div>
                  <div>
                    <i class="fa fa-heart"></i>
                    <span>My Wishlist</span>
                  </div>
                  <div>
                    <i class="fa fa-check-circle"></i>
                    <span>Checkout</span>
                  </div>
                </div>
              </div>
              <!-- end ul.toplinks -->
            </div>
            <!-- ul.toplinks -->
            <ul class="toplinks">
              <li class="toplink">
                <a href="#">Login</a>


              </li>
              <li class="toplink">
                <div class="currency ">
                  <ul>
                    <li>
                      <a class="dropdown" href="#">USD</a>
                      <ul class="top-link-content dropdow-content">
                        <li><a href="#"><del>USD</del> </a></li>
                        <li><a href="#">EUR</a></li>
                        <li><a href="#">GBP</a></li>
                        <li><a href="#">JPY</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="toplink">
                <div class="language">
                  <ul>
                    <li>
                      <a class="dropdown" href="#">ENGLISH</a>
                      <ul class="top-link-content dropdow-content">
                        <li><a href="#"><del>English</del> </a></li>
                        <li><a href="#">Vietnamese</a></li>
                        <li><a href="#">Japan</a></li>

                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
<!--              <li class="toplink"><a href="#">Wishlist</a></li>-->
            </ul>
            <!-- end right topbar -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end  topbar -->
  <!-- header main -->
  <div class="header-main row">
    <div class="container-full-screen">
      <div class="container1 clearfix">
        <!-- .logo -->
<!--        <div class="logo">-->
<!--          <a  title="Magento Commerce" href="#">-->
<!--            <img  alt="Shop Logo" src="images/logo/logo_8.svg">-->
<!--          </a>-->
<!--        </div>-->
        <!-- end .logo -->
        <!-- nav -->
        <div id="main-menu" class="main-menu clearfix">
          <ul class="main-nav clearfix">
            <li><a href="#" title="">Get1 - Shop mô hình</a>
            </li>
            <li>One Piece</li>
            <li>Naruto</li>
            <li>Dragon ball </li>
            <li>Marvel</li>
          </ul>
        </div>
        <!-- end nav -->
        <form class="form-search" action="#">
          <input class="input-search" placeholder="Search" type="text">
          <div class="btn-search">

            <input class="btn-search1" type="submit" value="Search">
          </div>
        </form>

      </div>
    </div>
  </div>
  <!-- end header main -->
</header>
