<!-- header main -->
<div class="header-main row">
  <div class="container">
    <div class="container1 clearfix">
      <!-- nav -->
      <div id="main-menu" class="main-menu clearfix">
        <ul class="main-nav clearfix">
          <!--  <li><a href="#" title="">Men</a> 

          </li>-->
          <li class=""><a  href="#" title="">Giới thiệu</a>
            <div class="sub-menu mega-menu">
              <div class="mega-item">
                <h3 class="menu-title">VỀ THẨM MỸ VIỆN QUỐC TẾ NEVADA</h3>
                <ul>
                  <li><a href="shop.html">HỆ THỐNG CƠ SỞ VẬT CHẤT &amp; Tops</a></li>
                  <li><a href="shop.html"></a></li>
                  <li><a href="shop.html"></a></li>
                  <li><a href="shop.html"></a></li>
                  <li><a href="shop.html"></a></li>
                </ul>
              </div>
              <div class="mega-item">
                <h3 class="menu-title">HỆ THỐNG CƠ SỞ VẬT CHẤT</h3>
                <ul>
                  <li><a href="shop.html"> &amp; Tops</a></li>
                  <li><a href="shop.html"></a></li>
                  <li><a href="shop.html"></a></li>
                  <li><a href="shop.html"></a></li>
                  <li><a href="shop.html"></a></li>
                </ul>
              </div>
              <div class="mega-item">
                <h3 class="menu-title">ĐẠT NHIỀU GIẢI THƯỞNG UY TÍN</h3>
                <ul>
                  <li><a href="shop.html">HỆ THỐNG CƠ SỞ VẬT CHẤT &amp; Tops</a></li>
                  <li><a href="shop.html"></a></li>
                  <li><a href="shop.html"></a></li>
                  <li><a href="shop.html"></a></li>
                  <li><a href="shop.html"></a></li>
                </ul>
              </div>
              <!-- .mega-item  -->
              <div class="mega-item image">
                <a href="#"><%= image_pack_tag "mega-menu.png", alt: ""%></a>
              </div> 
              <!-- .mega-item -->
            </div>
          </li>
          <li><a href="#" title="">Giảm béo an toàn</a></li>
          <li><a href="#" title="">Triệt lông & Spa</a></li>
          <li><a href="#" title="">Câu chuyện khách hàng </a></li>
          <li><a href="#" title="">Contact us</a></li>

        </ul>
      </div>
      <!-- end nav -->

      <form class="form-search" action="#">
        <input class="input-search" placeholder="Search" type="text">
        <div class="btn-search">

          <input class="btn-search1" type="submit" value="Search">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end header main -->
