<header class="header-v6">
  <!-- topbar -->
  <div class="topbar">
    <div class="container">					
      <div class="row">
        <div class="col-sm-6">
          <!--  -->
          <div class=" hidden-lg hidden-md  engo-mainmenu offcanvas-fixed">
              <div class="btn-toggle-menu  btn-nav" data-toggle="offcanvas">
                  <div class="one"></div>
                  <div class="two"></div>
                  <div class="three"></div>
              </div>
          </div>
          <!--  -->
          <!-- .logo -->
          <div class="logo">
            <a class="logo" title="Magento Commerce" href="#">
              <%= image_pack_tag "logo/logo_6.svg"%>
            </a>
          </div>
          <!-- end .logo -->
        </div>
          <%= render  "page/header/right_topbar" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end  topbar -->
  <%= render  "page/header/header_main" %>
</header>