<!-- right topbar -->
<div class="col-sm-6 ">
<div class="right-topbar">
<div class="mini-cart white">
  <div class="cart-control cart-icon">
    <img src="images/cart-icon.png" alt="">
  </div>
  <div class="cart-label">
    Liên hệ ngay
  </div>
</div>
<!-- .shop-cart -->
<!-- ul.toplinks -->
<ul class="toplinks">
  <li class="toplink">
    <a href="#">Login</a>
  </li>
  <li class="toplink">
    <div class="language">
      <ul>
        <li>
          <a class="dropdown" href="#">ENGLISH</a>
          <ul class="top-link-content dropdow-content">
            <li><a href="#"><del>English</del> </a></li>
            <li><a href="#">Vietnamese</a></li>
            <li><a href="#">Japan</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </li>
</ul>
<!-- end right topbar -->