<div class="box-title">
  <h3 class="h3-title small">
    ĐÁNH GIÁ CỦA KHÁCH HÀNG
  </h3>
  <div class="title-icon">
    <img alt="" src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588474399/title-icon_xqwppp.png" alt="">
  </div>
</div>

<!-- Testimonial -->
<section id="engo-4" class="engo-box">
  <div id="testimonial" class="testimonial-v2 margin-bottom-100">
    <!-- <div class="parallax-window " data-parallax="scroll" data-image-src="images/testimonial3.png"> -->
    <div class="parallax parallax-v1  background-img-v4 parallax-light" >
      <div class="container">
        <div class="swiper-container testimonial-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="thumb-image">
                <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,w_150/v1588522427/tham-my-vien-nevada-3_lzboyl.jpg" alt="" class="tes-img">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="thumb-image">
                <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,w_150/v1588522427/tham-my-vien-nevada-9_avxo7z.jpg" alt="" class="tes-img">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="thumb-image">
                <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,w_150/v1588522426/tham-my-vien-nevada-10_p8txne.jpg" alt="" class="tes-img">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="thumb-image">
                <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,w_150/v1588522427/tham-my-vien-nevada-7_u8rbs1.jpg" alt="" class="tes-img">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="thumb-image">
                <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,w_150/v1588522427/tham-my-vien-nevada-1_hp2n5g.jpg" alt="" class="tes-img">
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-container testimonial-content-gallery">
          <div class="swiper-wrapper">
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonial -->
