<!-- about-text -->
<section class="about-content-v2">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-5">
          <div class="about-title">
            <h3 class="title">
              INTRODUCE
            </h3>
          </div>
          <div class="about-content">
            <p>Genuine pleasure cigar, dynasty becoming respectable designer, noble status rare inspiring. Purebred cruise noble pedigree, yacht university suite. First-class, elegant panoramic symphony treasure with brilliant imported expensive inspiring five-star de-jour silver. Pearl cocktail topiary, world metropolitan.</p>
            <p>
              Topiary de-jour gold high-rise architectural butler elegant presidential, society ladies pleasure tailored benefactor wishlist ballroom. Guests reserved grande opulent salon property inspiring topiary philanthropic gifted grande educated purebred affluent. Respectable blissfull ballroom de-jour portfolio ambassador.
            </p>
          </div>
        </div>
        <div class="col-md-8 col-sm-7">
          <div class="swiper-container about-sl">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_400,w_770/v1588520755/T%C3%BAM/95439101_242516700327497_1009135822126972928_n_fgohpz.jpg" alt=""></div>
              <div class="swiper-slide"><img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_400,w_770/v1588523048/Co-so-vat-chat-800x600-1_xgppmh.jpg" alt=""></div>
              <div class="swiper-slide"><img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_400,w_770/v1588520755/T%C3%BAM/95439101_242516700327497_1009135822126972928_n_fgohpz.jpg" alt=""></div>
              <div class="swiper-slide"><img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_400,w_770/v1588520755/T%C3%BAM/95439101_242516700327497_1009135822126972928_n_fgohpz.jpg" alt=""></div>
              <div class="swiper-slide"><img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_400,w_770/v1588520755/T%C3%BAM/95439101_242516700327497_1009135822126972928_n_fgohpz.jpg" alt=""></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about-text -->