<!-- Block -->
<section id="engo-5" class="engo-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0ms">
  <div class="latest-blog ">
    <div class="container">
      <div class="box-title">
        <h3 class="h3-title">
          KINH NGHIỆM LÀM ĐẸP
        </h3>
        <div class="title-icon">
          <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588474399/title-icon_xqwppp.png" alt="">
        </div>
      </div>
      <div class="box-content content-blog owl-carousel-play" data-ride="owlcarousel">
        <div class="owl-carousel" data-slide="3" data-pagination="false" data-navigation="false" data-desktop="3" data-desktopsmall="3" data-tablet="2" data-tabletsmall="2" data-mobile="1">
          <!-- blog item -->
          <div class="item-blog item owl-item wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0ms">
            <div class="blog-images">
              <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588481307/blog01_s7rqbb.png" alt="">
            </div>
            <div class="blog-content">
              <div class="extra">
                <h2 class="name"><a href="#">ANALIZANDO TENDENCIAS</a></h2>
                <div class="date">September 09, 2015 </div>
                <div class="like">256 like</div>
              </div>
              <div class="des">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since.
                <a href="#" class="read-more">Read more</a>
              </div>
            </div>
          </div>
          <!-- end blog item -->
          <!-- blog item -->
          <div class="item-blog item owl-item wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="200ms">
            <div class="blog-images">
              <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588481307/blog01_s7rqbb.png" alt="">
            </div>
            <div class="blog-content">
              <div class="extra">
                <h2 class="name"><a href="#">ANALIZANDO TENDENCIAS</a></h2>
                <div class="date">September 09, 2015 </div>
                <div class="like">256 like</div>
              </div>
              <div class="des">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since.
                <a href="#" class="read-more">Read more</a>
              </div>
            </div>
          </div>
          <!-- end blog item -->
          <!-- blog item -->
          <div class="item-blog item owl-item wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="400ms">
            <div class="blog-images">
              <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588481307/blog01_s7rqbb.png" alt="">
            </div>
            <div class="blog-content">
              <div class="extra">
                <h2 class="name"><a href="#">ANALIZANDO TENDENCIAS</a></h2>
                <div class="date">September 09, 2015 </div>
                <div class="like">256 like</div>
              </div>
              <div class="des">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since.
                <a href="#" class="read-more">Read more</a>
              </div>
            </div>
          </div>
          <!-- end blog item -->
          <!-- blog item -->
          <div class="item-blog item owl-item wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="600ms">
            <div class="blog-images">
              <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588481307/blog01_s7rqbb.png" alt="">
            </div>
            <div class="blog-content">
              <div class="extra">
                <h2 class="name"><a href="#">ANALIZANDO TENDENCIAS</a></h2>
                <div class="date">September 09, 2015 </div>
                <div class="like">256 like</div>
              </div>
              <div class="des">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since.
                <a href="#" class="read-more">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Blog -->