<br><br>
<div class="box-title">
  <h3 class="h3-title small">
    GIỚI THIỆU VỀ THẨM MĨ VIỆN THU HẰNG
  </h3>
  <div class="title-icon">
    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588474399/title-icon_xqwppp.png" alt="">
  </div>
</div>