<!-- carousel product -->
<section id="engo-3" class="engo-box">
  <div class="carousel-product">
    <div class="container">
      <div class="box-title">
        <h3 class="h3-title">
          SẢN PHẨM HOT
        </h3>
        <div class="title-icon">
          <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744678/base/title-icon_bobfez.png" alt="">
        </div>
      </div>
      <!-- tab content -->
      <div class="box-content">
        <div class="product-grid owl-carousel-play" data-ride="owl-carousel">
          <!-- row item -->
          <div class="row clearfix owl-carousel" data-slide="6" data-pagination="false" data-navigation="false" data-desktop="6" data-desktopsmall="6" data-tablet="4" data-tabletsmall="3" data-mobile="2">
            <!-- product -->
            <div class="item owl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="100ms">
              <div class="product-item">
                <div class="product-img">
                  <a href="#" class="image-hover">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo image-catalog-hover">
                  </a>
                </div>
                <div class="product-info">
                  <div class="ratings">
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star empty"></i>
                      <i class="fa fa-star empty"></i>
                    </div>
                  </div>
                  <div class="product-name">
                    <a href="#" class="product-item-link">
                      Legging Cathedral
                    </a>
                  </div>
                  <div class="price-box price-final_price">
                                          <span class="price">
                                             $ 35.00
                                          </span>
                  </div>
                  <!-- actions -->
<!--                  <div class="actions">-->
<!--                    <div class="action add-to-cart">-->
<!--                      <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">-->
<!--                      </a>-->
<!--                    </div>-->
<!--                    <div class="action add-to-wishlist">-->
<!--                      <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">-->
<!--                      </a>-->
<!--                    </div>-->
<!--                    <div class="action add-to-quickview">-->
<!--                      <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
                  <!-- end actions -->
                </div>
              </div>
            </div>
            <!-- end product -->
            <!-- product -->
            <div class="item owl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">
              <div class="product-item">
                <div class="product-img">
                  <a href="#" class="image-hover">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                  </a>
                </div>
                <div class="product-info">
                  <div class="ratings">
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star empty"></i>
                      <i class="fa fa-star empty"></i>
                    </div>
                  </div>
                  <div class="product-name">
                    <a href="#" class="product-item-link">
                      Legging Cathedral
                    </a>
                  </div>
                  <div class="price-box price-final_price">
                                          <span class="price">
                                             $ 35.00
                                          </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- end product -->
            <!-- product -->
            <div class="item owl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="500ms">
              <div class="product-item">
                <div class="product-img">
                  <a href="#" class="image-hover">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                  </a>
                </div>
                <div class="product-info">
                  <div class="ratings">
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star empty"></i>
                      <i class="fa fa-star empty"></i>
                    </div>
                  </div>
                  <div class="product-name">
                    <a href="#" class="product-item-link">
                      Legging Cathedral
                    </a>
                  </div>
                  <div class="price-box price-final_price">
                                          <span class="price">
                                             $ 35.00
                                          </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- end product -->
            <!-- product -->
            <div class="item owl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="700ms">
              <div class="product-item">
                <div class="product-img">
                  <a href="#" class="image-hover">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                  </a>
                </div>
                <div class="product-info">
                  <div class="ratings">
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star empty"></i>
                      <i class="fa fa-star empty"></i>
                    </div>
                  </div>
                  <div class="product-name">
                    <a href="#" class="product-item-link">
                      Legging Cathedral
                    </a>
                  </div>
                  <div class="price-box price-final_price">
                                          <span class="price">
                                             $ 35.00
                                          </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- end product -->
            <!-- product -->
            <div class="item owl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="900ms">
              <div class="product-item">
                <div class="product-img">
                  <a href="#" class="image-hover">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                  </a>
                </div>
                <div class="product-info">
                  <div class="ratings">
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star empty"></i>
                      <i class="fa fa-star empty"></i>
                    </div>
                  </div>
                  <div class="product-name">
                    <a href="#" class="product-item-link">
                      Legging Cathedral
                    </a>
                  </div>
                  <div class="price-box price-final_price">
                                          <span class="price">
                                             $ 35.00
                                          </span>
                  </div>
                  <!-- actions -->
                  <div class="actions">
                    <div class="action add-to-cart">
                      <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                      </a>
                    </div>
                    <div class="action add-to-wishlist">
                      <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                      </a>
                    </div>
                    <div class="action add-to-quickview">
                      <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                      </a>
                    </div>
                  </div>
                  <!-- end actions -->
                </div>
              </div>
            </div>
            <!-- end product -->
            <!-- product -->
            <div class="item owl-item wow fadeInUp " data-wow-duration="1s" data-wow-delay="1100ms">
              <div class="product-item">
                <div class="product-img">
                  <a href="#" class="image-hover">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                  </a>
                </div>
                <div class="product-info">
                  <div class="ratings">
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star empty"></i>
                      <i class="fa fa-star empty"></i>
                    </div>
                  </div>
                  <div class="product-name">
                    <a href="#" class="product-item-link">
                      Legging Cathedral
                    </a>
                  </div>
                  <div class="price-box price-final_price">
                                          <span class="price">
                                             $ 35.00
                                          </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- end product -->
            <!-- product -->
            <div class="item owl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="100ms">
              <div class="product-item">
                <div class="product-img">
                  <a href="#" class="image-hover">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613744751/base/1-2_g91l1n.png" alt="" class="product-image-photo">
                  </a>
                </div>
                <div class="product-info">
                  <div class="ratings">
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star empty"></i>
                      <i class="fa fa-star empty"></i>
                    </div>
                  </div>
                  <div class="product-name">
                    <a href="#" class="product-item-link">
                      Legging Cathedral
                    </a>
                  </div>
                  <div class="price-box price-final_price">
                                          <span class="price">
                                             $ 35.00
                                          </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- end product -->
          </div>
          <!-- end row item -->
        </div>
      </div>
      <!-- end tab container -->
    </div>
  </div>
</section>
<!-- End carousel product -->
