<!-- Collections -->
<section id="engo-4" class="engo-box">
  <div class="collection-v1 collection-home ">

    <div class="box-title">
      <div class="title-icon">
      </div>
      <h3 class="h3-title small">
        HOT
      </h3>
      <div class="title-icon">
        <img alt="" src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588474399/title-icon_xqwppp.png" alt="">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="collections-product owl-carousel-play" data-ride="owl-carousel">
          <div class="owl-carousel" data-slide="3" data-pagination="false" data-navigation="false" data-desktop="3" data-desktopsmall="3" data-tablet="2" data-tabletsmall="2" data-mobile="1">
            <div class="item">
              <!-- collections-product -->
              <div class="col-product blue">
                <div>
                  <div class="image background-over animation-element engo-PullDown engoPullDown">
                    <img class="animated" src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,h_703,w_370/v1613825155/base/Screen_Shot_2021-02-20_at_21.45.23-removebg-preview_vkpxii.png" alt="collection01">
                  </div>
                  <div class="deal">
                    <div class="deal-name">
                      <h3 class="widget-title">
                        <a href="#" title="">Đặt ngay</a>
                      </h3>
                    </div>
<!--                    <div class="deal-time">-->
<!--                      <div class="time day">-->
<!--                        <h3>03 </h3>-->
<!--                        <span>DAYS</span>-->
<!--                      </div>-->
<!--                      <div class="time hour">-->
<!--                        <h3>19 </h3>-->
<!--                        <span>Hour</span>-->
<!--                      </div>-->
<!--                      <div class="time min">-->
<!--                        <h3>35</h3>-->
<!--                        <span>min</span>-->
<!--                      </div>-->
<!--                      <div class="time secs">-->
<!--                        <h3>59</h3>-->
<!--                        <span>secs</span>-->
<!--                      </div>-->
<!--                    </div>-->
                  </div>

                </div>

              </div>
              <!-- end collections-product -->
            </div>
            <div class="item">
              <div class="col-product yellow">

                <div class="image background-over animation-element engo-PullDown engoPullDown">
                  <img class="animated" src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,g_face:center,h_703,w_370,x_0,y_0/v1613822938/base/Screen_Shot_2021-02-20_at_21.07.27-removebg_g5pwjv.png" alt="collection01">
                </div>

                <div class="deal">
                  <div class="deal-name">
                    <h3 class="widget-title">
                      <a href="#" title="">Đặt ngay</a>
                    </h3>
                  </div>
                </div>

              </div>
            </div>
            <div class="item">
              <!-- collections-product -->
              <div class="col-product pink ">

                <div class="image background-over animation-element engo-PullDown engoPullDown">
                  <img class="animated " src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,h_703,w_370/v1613824939/base/Screen_Shot_2021-02-20_at_21.41.45-removebg-preview_uau1sf.png" alt="collection01">
                </div>

                <div class="deal">
                  <div class="deal-name">
                    <h3 class="widget-title">
                      <a href="#" title="">Đặt ngay</a>
                    </h3>
                  </div>
                </div>

              </div>
              <!-- end collections-product -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Collections -->
