<br><br>
<div class="box-title">
  <h3 class="h3-title small">
    LIÊN HỆ VỚI CHÚNG TÔI
  </h3>
  <div class="title-icon">
    <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588474399/title-icon_xqwppp.png" alt="">
  </div>
</div>
<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="content-contact clearfix">
        <div class="col-md-4 col-sm-4 col-xs-12 col-hm-4 col-mb-12">
          <div class="item-contact drop-line">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588482815/contact1_mgykid.jpg" alt="" class="icon">
            <h2 class="title">Drop Us A Line</h2>
            <h4 class="des">Business standards services compliant.
              Users without extensible costs.
            </h4>
            <span>hello@nautica.com</span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 col-hm-4 col-mb-12">
          <div class="item-contact commercial">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588482820/contact2_kueb6m.jpg" alt="" class="icon">
            <h2 class="title">Commercial</h2>
            <h4 class="des">Business standards services compliant.
              Users without extensible costs.
            </h4>
            <span>commercial@nautica.com</span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 col-hm-4 col-mb-12">
          <div class="item-contact drop-line">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588482822/contact3_wlevoc.jpg" alt="" class="icon">
            <h2 class="title">Visit Our Office</h2>
            <h4 class="des">262 Milacina Mrest Street, Behansed, Paris, France</h4>
            <span>(+86) 6 888 888</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>