<!--470x705-->
<br><br>
<main id="maincontent" class="page-main page-main-about">
<div class="container-fluid">
  <div class="row">
    <div class="box-title">
      <h3 class="h3-title small">
          MARVEL
      </h3>
      <div class="title-icon">
        <img alt="" src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588474399/title-icon_xqwppp.png" alt="">
      </div>
    </div>
    <div class="team-members">
      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <li>XEM CHI TIẾT</li>
<!--              <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--              <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>-->
<!--              <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>-->
<!--              <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>-->
<!--              <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>-->
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,h_705,w_470/v1613828581/marvel/100000001005635122_10204_001_lw0jrs.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>Mã: MV01</span></h3>
            <div class="job">MARVEL</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,g_north_west,h_705,w_470/v1613828616/marvel/61qle-3UmgL._AC_SX679__tklpw1.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>Mã: MV02</span></h3>
            <div class="job">MARVEL</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,h_705,w_470/v1613828581/marvel/100000001004237892_10214_nke6ti.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>Mã: MV03</span></h3>
            <div class="job">MARVEL</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,g_north_west,h_705,w_470,x_150,y_214/v1613828579/marvel/61cXSyHZiRL._AC_SX679__c3qcj6.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>Mã: MV04</span></h3>
            <div class="job">MARVEL</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,h_705,w_470/v1613829363/marvel/bef5cca4458e8743822c27c27292f43b_ezregg.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>Mã: MV05</span></h3>
            <div class="job">MARVEL</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,h_705,w_470/v1613828580/marvel/imgrc0072685159_i60pvq.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>Mã: MV06</span></h3>
            <div class="job">MARVEL</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</main>
<%= javascript_include_tag "engo-apps" %>
<%= javascript_include_tag "owl.carousel-2.js" %>
<script>
  $(function() { engoPriceSlider(); });
</script>
