<br><br>
<main id="maincontent" class="page-main page-main-about">
<div class="container-fluid">
  <div class="row">
    <div class="box-title">
      <h3 class="h3-title small">
        DỊCH VỤ CỦA CHÚNG TÔI
      </h3>
      <div class="title-icon">
        <img alt="" src="https://res.cloudinary.com/dtbumlftx/image/upload/v1588474399/title-icon_xqwppp.png" alt="">
      </div>
    </div>
    <div class="team-members">
      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <li>XEM CHI TIẾT</li>
<!--              <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--              <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>-->
<!--              <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>-->
<!--              <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>-->
<!--              <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>-->
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_405,w_270/v1588520757/T%C3%BAM/95573265_273472847023462_3285540983759962112_n_oaaxbp.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>LÀM ĐẸP</span></h3>
            <div class="job">GIẢM CÂN</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_405,w_270/v1588520757/T%C3%BAM/95556327_964684623974897_4225021541676482560_n_h23pad.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>LÀM ĐẸP</span></h3>
            <div class="job">GIẢM CÂN</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_405,w_270/v1588520757/T%C3%BAM/95159577_1563883730456227_8713706195031949312_n_p6jtue.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>LÀM ĐẸP</span></h3>
            <div class="job">GIẢM CÂN</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_405,w_270/v1588522026/T%C3%BAM/94616197_521733665161724_914606967786307584_n_hagazv.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>LÀM ĐẸP</span></h3>
            <div class="job">GIẢM CÂN</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_405,w_270/v1588522026/T%C3%BAM/94616197_521733665161724_914606967786307584_n_hagazv.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>LÀM ĐẸP</span></h3>
            <div class="job">GIẢM CÂN</div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-mb-12">
        <div class="merber">
          <div class="social social-member">
            <ul>
              <a href="#">XEM CHI TIẾT</a>
            </ul>
          </div>
          <div class="images-merber">
            <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_scale,h_405,w_270/v1588522026/T%C3%BAM/94616197_521733665161724_914606967786307584_n_hagazv.jpg" alt="">
          </div>
          <div class="title-merber">
            <h3 class="name"><span>LÀM ĐẸP</span></h3>
            <div class="job">GIẢM CÂN</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</main>
<%= javascript_include_tag "engo-apps" %>
<%= javascript_include_tag "owl.carousel-2.js" %>
<script>
  $(function() { engoPriceSlider(); });
</script>