<!-- promotion -->
<section id="engo-2" class="engo-box wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0ms">
  <div class="policy-v3">
    <div class="container">
      <div class="row ">
              <div class="col-sm-4">
                  <div class="policy-item free-ship wow bounceInLeft animated">
                    <h3>FREE SHIPPING WORLDWIDE</h3>
                    <span>Guaranteed Delivery In 4 Days</span>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="policy-item mid t247 " data-wow-delay="300ms" >
                    <h3>24/7 CUSTOMER SERVICE</h3>
                    <span>Call Us 24/7 At 070-7782-9137</span>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="policy-item refurn wow bounceInRight animated">
                    <h3>
                        24/7 CUSTOMER SERVICE
                    </h3>
                    <span>Send Within 30 Days</span>
                  </div>
              </div>
            </div>
    </div>
  </div>
</section>
<!-- end promotion -->