<div class="row">
  <div class="policy-v5">
    <div class="col-sm-3 sv-col">
      <div class="policy-item develope-sv wow bounceInLeft animated">
        <h3>Web Developement</h3>
        <span>Integer ac massa vehicula, viverra augue et, auctor urna. Morbi nec enim et odio blandit tempor vitae sit amet est. Aenean non fringilla lacus, ultricies mi.</span>
      </div>
    </div>
    <div class="col-sm-3 sv-col">
      <div class="policy-item mid email-sv wow bounceInLeft animated">
        <h3>Email Marketing</h3>
        <span>Integer ac massa vehicula, viverra augue et, auctor urna. Morbi nec enim et odio blandit tempor vitae sit amet est. Aenean non fringilla lacus, ultricies mi.</span>
      </div>
    </div>
    <div class="col-sm-3 sv-col">
      <div class="policy-item design-sv wow bounceInRight animated">
        <h3>Graphic Design</h3>
        <span>Integer ac massa vehicula, viverra augue et, auctor urna. Morbi nec enim et odio blandit tempor vitae sit amet est. Aenean non fringilla lacus, ultricies mi.</span>
      </div>
    </div>
    <div class="col-sm-3 sv-col">
      <div class="policy-item result-sv wow bounceInRight animated">
        <h3>Reliable Results</h3>
        <span>Integer ac massa vehicula, viverra augue et, auctor urna. Morbi nec enim et odio blandit tempor vitae sit amet est. Aenean non fringilla lacus, ultricies mi.</span>
      </div>
    </div>
  </div>
</div>