<!-- promotion -->
<div class="policy-v1 ">
  <div class="container">
    <div class="row row-gutter-10">
      <div class="col-sm-4 col-33">
        <div class="policy-item">
          <h3>free uk next day delivery</h3>
          <span>on orders over $60</span>
        </div>
      </div>
      <div class="col-sm-4 col-33">
        <div class="policy-item mid">
          <h3>sale. further reductions</h3>
          <span>up to 50% off, selected lines</span>
        </div>
      </div>
      <div class="col-sm-4 col-33">
        <div class="policy-item ">
          <h3>
            25% student discount
          </h3>
          <span>excludes sale</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end promotion -->
