<section id="engo-2" class="engo-box wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0ms">

  <div class="row">
    <div class="col-md-6 col-sm-12 col-nopadding">
      <div class="colection-v7">
        <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613825792/base/product-image-879683448_1024x1024_2x_ijvtro.jpg" alt="">
        <div class="colection-info">
          <div class="title1">
            Zoro
          </div>
<!--          <div class="title2">-->
<!--            WOMEN-->
<!--          </div>-->
<!--          <p class="des margin-bottom-25">-->
<!--            Update your everyday essentials<br>with the latest boots, sandals, shoes and more…-->
<!--          </p>-->
          <a href="" class="btn">Mua Ngay</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-nopadding">
      <div class="colection-v7 right">
        <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613826246/base/product-image-1009069702_1024x1024_2x_uidrdp.jpg" alt="">
        <div class="colection-info">
          <div class="title1" >
            White Beard
          </div>
<!--          <div class="title2">-->
<!--            Real Men-->
<!--          </div>-->
<!--          <p class="des margin-bottom-25">-->
<!--            SALE UP TO 50% OFF-->
<!--          </p>-->
          <a href="" class="btn">Mua Ngay</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-nopadding">
      <div class="colection-v7 left">
        <img src="https://res.cloudinary.com/dtbumlftx/image/upload/c_fill,h_800,w_800/v1613826152/base/DeepinScreenshot_select-area_20210216013956_1024x1024_2x_ldoxyc.png" alt="">
        <div class="colection-info">
          <div class="title1">
            Luffy
          </div>
<!--          <div class="title2">-->
<!--            Real Men-->
<!--          </div>-->
<!--          <p class="des margin-bottom-25">-->
<!--            SALE UP TO 50% OFF-->
<!--          </p>-->
          <a href="" class="btn">Mua Ngay</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-nopadding">
      <div class="colection-v7 right">
        <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1615099998/base/156172348_108686994616018_1336380977700087382_n_vqnbhr.jpg" alt="">
        <div class="colection-info">
          <div class="title1">
            Ace
          </div>
          <div class="title2">
            Real
          </div>
          <p class="des margin-bottom-25">
            SALE UP TO 50% OFF
          </p>
          <a href="" class="btn">Mua Ngay</a>
        </div>
      </div>
    </div>
  </div>
</section>
