<!-- slider -->
<section id="engo-2" class="engo-box">
  <div class="main-slider">
    <div class="container ">
      <div class="fullwidthbanner-container">
        <div class="r_slider" data-width="1170" data-height="500" data-screen="off" data-fullwidth="off">
          <ul>
            <li class="f_left" data-transition="cube" data-slotamount="7" >
              <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613740912/base/banner-img1-3_abyhy6.png" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
              <div class="caption lft ltt" data-x="174" data-y="91" data-speed="1500" data-start="1200" data-easing="easeOutBounce" style="font-size: 100px">
                <p><span class="slider-top big-text">On</span></p>
              </div>
              <div class="caption lft ltt" data-x="305" data-y="170" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size: 100px">
                <p><span class="slider-top big-text">The</span></p>
              </div>
              <div class="caption lft ltt" data-x="112" data-y="250" data-speed="1500" data-start="1600" data-easing="easeOutBounce" style="font-size: 130px">
                <p><span class="slider-top big-text big">Road</span></p>
              </div>
              <div class="caption lft ltt" data-x="65" data-y="200" data-speed="1500" data-start="2000" data-easing="easeOutBounce" style="font-size: 18px; line-height:20px;">
                <p class="small-text">
                  FASHION<br>COLLECTIONS<br>FOR WOMEN
                </p>
              </div>
            </li>
            <li class="f_left" data-transition="cube" data-slotamount="7" >
              <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613740912/base/banner-img1-3_abyhy6.png" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
              <div class="caption lft ltt" data-x="780" data-y="91" data-speed="1500" data-start="1200" data-easing="easeOutBounce" style="font-size: 100px">
                <p><span class="slider-top big-text">On</span></p>
              </div>
              <div class="caption lft ltt" data-x="900" data-y="170" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size: 100px">
                <p><span class="slider-top big-text">The</span></p>
              </div>
              <div class="caption lft ltt" data-x="700" data-y="250" data-speed="1500" data-start="1600" data-easing="easeOutBounce" style="font-size: 130px">
                <p><span class="slider-top big-text big">Road</span></p>
              </div>
              <div class="caption lft ltt" data-x="680" data-y="200" data-speed="1500" data-start="2000" data-easing="easeOutBounce" style="font-size: 18px; line-height:20px;">
                <p class="small-text">
                  FASHION<br>COLLECTIONS<br>FOR WOMEN
                </p>
              </div>
            </li>
            <li class="f_left" data-transition="cube" data-slotamount="7">
              <img src="https://res.cloudinary.com/dtbumlftx/image/upload/v1613740912/base/banner-img1-3_abyhy6.png" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
              <div class="caption lft ltt" data-x="174" data-y="91" data-speed="1500" data-start="1200" data-easing="easeOutBounce" style="font-size: 100px">
                <p><span class="slider-top big-text">On</span></p>
              </div>
              <div class="caption lft ltt" data-x="305" data-y="170" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size: 100px">
                <p><span class="slider-top big-text">The</span></p>
              </div>
              <div class="caption lft ltt" data-x="112" data-y="250" data-speed="1500" data-start="1600" data-easing="easeOutBounce" style="font-size: 130px">
                <p><span class="slider-top big-text big">Road</span></p>
              </div>
              <div class="caption lft ltt" data-x="65" data-y="200" data-speed="1500" data-start="2000" data-easing="easeOutBounce" style="font-size: 18px; line-height:20px;">
                <p class="small-text">
                  FASHION<br>COLLECTIONS<br>FOR WOMEN
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end slider -->

<%= javascript_include_tag "plugin/plugin.js" %>
<%= javascript_include_tag "revolution.js" %>
